.tools{
  
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
 
}

.my-Tech{
  font-weight: bold;font-size: 2.5rem;
  
padding-top: 180px;
}



  .toolsList{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 55px 0px;
    padding: 20px 200px;

}
.toolsList div{
    text-align: center;
    border: 1.4px solid black;
    border-radius: 10%;
    padding: 15px 0px;
    width: 130px;
    align-items: center;
}

.tools img{
    /* transform: scale(0.3); */
    width: 90px;
    position: relative;
    left: 18px;
}
.toolsList label{
    font-weight: bold;
    font-size: 17px;
}
.toolsList div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media all and (min-width: 401px) and (max-width: 800px) {
    .toolsList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    align-items: center;
    padding: 0px 20px;

}
.toolsList div{
transform: scale(0.7);

}
    
}
@media all and (min-width: 100px) and (max-width: 400px) {
    .toolsList{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
    align-items: center;
    padding: 0px;

}
.toolsList div{
transform: scale(0.7);
}
}