.description{
    display: flex;
    margin: 0px 100px;
    align-items: center;
    justify-content: space-between;
}

.AboutImg{
    width:500px
}
.aboutText{
    width:700px;
    font-size: 19px;
    line-height: 40px;
    /* height: 300px; */
}
@media   (max-width :1026px) and (min-width:760px) {
    .description{
        display: flex;
        margin: 0px 0px;
        align-items: center;
        justify-content: space-between;
    }
    .AboutImg{
        width:300px
    }
    .aboutText{
        width: 70%;
        font-size: 19px;
      margin-left: 20px;
    }
}
@media (min-width:100px) and (max-width:760px){
    .description{
        display: flex;
       flex-direction: column;
    }
    .aboutText{
        box-sizing: border-box;
        width: 100%;
        font-size: 15px;
        margin: 0px 0px;
        gap:20px;
        line-height: 20px;
      /* margin-left: 20px; */
    }
    .AboutImg{
        width:500px
    }
}