.n-wrapper{
    height : 10vh;
    display: flex;
   justify-content: space-evenly;
   position: sticky;
   top: 0px;
   background-color: white;
   font-family: 'Roboto', sans-serif;
}
.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-name{
    font-size: 1.6rem;
    font-weight: bold;
}
.n-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex: 10;
}
.n-list li{
    font-size: 20px;
}
.n-list>ul{
    display: flex;
    gap:2rem;
    margin-right: 4rem;
    list-style-type: none;
}
.n-list li:hover{
   cursor: pointer;
   color: var(--orange);
   text-decoration: underline;
   font-size: 23px;
}
.button{
    border-radius: 34px;
    border:none;
    color:white;
    font-size: 16px;
    padding: 10px;
    background: linear-gradient(180deg, #fdcf0f, 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42);
  }
  .button:hover{
    background:var(--white);
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
  }