.intro{
    display: flex;

    justify-content: space-around;
    margin: 0 100px;
    margin-top: 6rem;
    font-family: 'Roboto', sans-serif;
}
#profilePic{
    width :320px;
    background: #497174;
    
    border-radius: 25%;
}
.i-button{
    font-size: 18px;
    margin: 10px;
    width: 9rem;
    margin-top: 10px;

}

.i-button:hover{
    color: #e54c4c;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 1.6rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 1.7rem;
}
.i-name>:nth-child(3){
    
    font-weight: bold;
    font-size: 2.5rem;
    
} 
.github-icon:hover{
    color: #e54c4c;
}
.linkedin-icon:hover{
    color: #e54c4c;
}
 .i-icons{
   margin: 10px;
    display: flex;
    gap: 55px;
}
.i-icons:nth-child(1){
    color: #e54c4c;
}



@media   (max-width :1026px) and (min-width:760px) {
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
}
 @media (min-width:100px) and (max-width:760px){
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        gap :10px

  }
    #profilePic{
        width : 300px
    }
}
  @media (min-width:100px) and (max-width:426px){ 
    
  }  